In [1]:
x = 95
if x >= 90:
    print("Pass")

Pass

In [2]:
x = 75
if x >= 90:
    print("Pass")
else:
    print("Fail")

Fail

In [3]:
x = 85
if x >= 90:
    print("Very good")
elif (x >= 80) and (x < 90):
    print("Good")
else:
    print("Bad")

Good

In [4]:
x = 85
if x >= 90:
    print("Very good")
elif 80 <= x < 90:
    print("Good")
else:
    print("Bad")

Good

In [5]:
x = 100
if x>= 90:
    if x==100:
        print("Prefect")
    else:
        print("Very Good")
elif (x >= 80) and (x < 90):
    print("Good")
else:
    print("Bad")

Prefect

In [7]:
a = 0
print(a)

a = a+1
print(a)

a = a+1
print(a)

a = a+1
print(a)

a = a+1
print(a)

a = a+1
print(a)

0
1
2
3
4
5

In [8]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [9]:
myFriends = ['James','Robert','Lisa','Mary']
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

In [10]:
print(range(0,10,1))

range(0, 10)

In [11]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
for a in range(0,6,2):
    print(a)

0
2
4

In [13]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print(list(range(0,20,5)))
print(list(range(-10,0,2)))
print(list(range(3,-10,-3)))
print(list(range(0,-5,1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [15]:
x_list = ['x1','x2']
y_list = ['y1','y2']
print ("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [16]:
names = ['James','Robert','Lisa','Mary']
scores = [95,96,97,94]

In [18]:
for k in range(len(names)):
    print(names[k],scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [19]:
for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [20]:
i = 0
sum = 0
print("i sum")
while(sum < 20):
    i = i+1
    sum = sum+i
    print(i,sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [21]:
k = 0
while True:
    k = k+1
    if(k>3):
        break
    print(k)

1
2
3

In [23]:
for k in range(10):
    if(k>2):
        break
    print(k)

0
1
2

In [24]:
for k in range(5):
    if (k == 2):
        continue
    print(k)

0
1
3
4

In [25]:
k = 0
while True:
    k = k+1
    
    if (k == 2):
        print("continue next")
        continue
    if (k > 4):
        break
    print(k)

1
continue next
3
4

In [26]:
numbers = [1,2,3,4,5]
square = []
for i in numbers:
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

In [28]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

In [29]:
numbers = [1,2,3,4,5]
square = []
for i in numbers:
    if i>= 3:
        square.append(i**2)

print(square)

[9, 16, 25]

In [30]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]