In [1]:
# 6장

In [2]:
print("Hello Python!!")

Hello Python!!

In [3]:
print("Best","python","book")

Best python book

In [4]:
print("Best","python","book",sep ="-:*:-")

Best-:*:-python-:*:-book

In [5]:
print("abcd"+"efg")

abcdefg

In [6]:
print("Best","python","book"+":","This book")

Best python book: This book

In [7]:
x = 10
print(x)

10

In [8]:
name = "James"
ID_num = 789
print("Name:",name+",","ID Number:",ID_num)

Name: James, ID Number: 789

In [9]:
print("James is my friend.\nHe is Korean")

James is my friend.
He is Korean

In [10]:
print("Welcome to ")
print("python!")

Welcome to
python!

In [11]:
print("Welcome to ",end="")
print("python!")

Welcome to python!

In [12]:
name = "광재"
print("%s는 나의 친구입니다."%name)

광재는 나의 친구입니다.

In [13]:
r = 3
PI = 3.14159265358979
print("반지름: %d, 원주율: %f"%(r,PI))

반지름: 3, 원주율: 3.141593

In [14]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"
print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0,animal_1,animal_2))

Animal: cat
Animal: cat,dog,fox

In [15]:
print("Animal: {1},{2},{0}".format(animal_0,animal_1,animal_2))

Animal: dog,fox,cat

In [16]:
print("Animal: {0},{2}".format(animal_0,animal_1,animal_2))

Animal: cat,fox

In [17]:
print("Animal: {},{},{}".format(animal_0,animal_1,animal_2))

Animal: cat,dog,fox

In [18]:
name = "Tomas"
age = 10
a = 0.1234567890123456789
fmt_string = "String: {0}. Integer Number: {1}. Floating Number: {2}"
print(fmt_string.format(name,age,a))

String: Tomas. Integer Number: 10. Floating Number: 0.12345678901234568

In [20]:
a = 0.1234567890123456789
print("{0:.2f},{0:.5f}".format(a))

0.12,0.12346

In [22]:
yourName = input("당신의 이름은?")
print("당신은 {}이군요".format(yourName))

당신의 이름은?홍길동
당신은 홍길동이군요

In [23]:
num = input("숫자를 입력하세요: ")
print("당신이 입력한 숫자는 {}입니다".format(num))

숫자를 입력하세요: 5
당신이 입력한 숫자는 5입니다

In [24]:
a = input("정사각형의 한 변의 길이는?:")
area = int(a)**2
print("정사각형의 넓이: {}".format(area))

정사각형의 한 변의 길이는?:5
정사각형의 넓이: 25

In [25]:
b = input("정사각형의 한변의 길이는?:")
area = float(b)**2
print("정사각형의 넓이: {}".format(area))

정사각형의 한변의 길이는?:1.5
정사각형의 넓이: 2.25

In [26]:
c = input("정사각형의 한변의 길이는?:")
area = float(c)**2
print("정사각형의 넓이: {}".format(area))

정사각형의 한변의 길이는?:3
정사각형의 넓이: 9.0

In [27]:
cd C:\myPyCode

C:\myPyCode

In [28]:
f = open('myFile.txt','w')
f.write('This is my first file.')
f.close()

In [29]:
!type myFile.txt

This is my first file.

In [30]:
f = open('myFile.txt','r')
file_text = f.read()
f.close()

print(file_text)

This is my first file.

In [31]:
f = open('two_times_tables.txt','w')
for num in range(1,6):
    format_string = "2 x {0} = {1}\n".format(num,2*num)
    f.write(format_string)
f.close()

In [32]:
!type two_times_tables.txt

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [34]:
f = open("two_times_tables.txt")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1,end="")
print(line2,end="")

2 x 1 = 2
2 x 2 = 4

In [35]:
f = open("two_times_tables.txt")
line = f.readline()
while line:
    print(line, end = "")
    line = f.readline()
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [36]:
f = open("two_times_tables.txt")
lines = f.readlines()
f.close()
for line in lines:
    print(line,end="")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [37]:
f = open("two_times_tables.txt")
for line in f.readlines():
    print(line,end="")
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [38]:
f = open("two_times_tables.txt")
for line in f:
    print(line,end="")
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [39]:
f = open('myTextFile.txt','w')
f.write('File write/read test.')
f.close()

In [40]:
f = open('myTextFile.txt','r')
test = f.read()
f.close()
print(test)

File write/read test.

In [42]:
with open('C:/myPyCode/myTextFile2.txt','w') as f:
    f.write('File read/write test2: line1\n')
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [43]:
with open('C:/myPyCode/myTextFile2.txt') as f:
    file_string = f.read()
    print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [44]:
with open('C:/myPyCode/myTextFile3.txt','w') as f:
    for num in range(1,6):
        format_string = "3 x {0} = {1}\n".format(num,3*num)
        f.write(format_string)

In [45]:
with open('C:/myPyCode/myTextFile3.txt','r') as f:
    for line in f:
        print(line,end="")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15