 4장 (42~68p)

In [1]:
12340 * 1/2

6170.0

In [2]:
123450 * 1/4

30862.5

In [3]:
12340 * 1/5

2468.0

In [4]:
abc = 12340
print(abc)

12340

In [5]:
abc

12340

In [6]:
print(abc * 1/2)
print(abc * 1/4)
print(abc * 1/5)

6170.0
3085.0
2468.0

In [7]:
print("String Test")

String Test

In [8]:
print('String Test')

String Test

In [9]:
string1 = "String Test 1"
string2 = "String test 2"
print(string1)
print(string2)

String Test 1
String test 2

In [10]:
type(string1)

str

In [11]:
type(string2)

str

In [12]:
string3 = 'This is a "double" quotaition test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotaition test
This is a 'single' quotation test

In [1]:
long_string1 = '''[삼중 작은따움표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표(")와 작은따옴표(')도 입력할 수 있습니다'''

long_string2= """[삼중 큰따움표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표(")와 작은따옴표(')도 입력할 수 있습니다"""

print(long_string1)
print(long_string2)

[삼중 작은따움표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표(")와 작은따옴표(')도 입력할 수 있습니다
[삼중 큰따움표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표(")와 작은따옴표(')도 입력할 수 있습니다

In [2]:
a = 'Enjoy '
b = 'python!'
c = a+b
print(c)

Enjoy python!

In [3]:
print(a*3)

Enjoy Enjoy Enjoy

In [4]:
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [5]:
type(student1)

list

In [6]:
student1[0]

90

In [7]:
student1[1]

95

In [8]:
student1[-1]

80

In [9]:
student1[1] = 100
student1

[90, 100, 85, 80]

In [10]:
myFriends = ['James', 'Robert','Lisa','Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [13]:
myFriends[2]

'Lisa'

In [14]:
myFriends[3]

'Mary'

In [15]:
myFriends[-1]

'Mary'

In [17]:
mixedList = [0,2,3.14,'python','programe',True,myFriends]
mixedList

[0, 2, 3.14, 'python', 'programe', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [18]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1+list_con2

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
list_con1 = [1,2,3,4]
list_con = list_con1 * 3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [21]:
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [24]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [25]:
myFriends = ['James', 'Robert','Lisa','Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [26]:
myFriends = ['James', 'Robert','Lisa','Mary']
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [27]:
tuple1 =(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [28]:
type(tuple1)

tuple

In [29]:
tuple1[1]

2

In [30]:
tuple2 = 5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [31]:
type(tuple2)

tuple

In [32]:
tuple3 = (9,) # 반드시 콤마 필요 
tuple4 = 10, # 반드시 콤마 필요
print(tuple3)
print(tuple4)

(9,)
(10,)

In [33]:
tuple5 = (1,2,3,4)
tuple[1]=5 #한번 생성된 튜플의 요소는 변경되지 않음

TypeError: 'type' object does not support item assignment

In [34]:
del tuple5[1] # 튜플 요소는 삭제 불가

TypeError: 'tuple' object doesn't support item deletion

In [35]:
tuple6 = ('a','b','c','d','e','f')
tuple6.index('c')

2

In [36]:
tuple7 = ('a','a','a','b','b','c','d')
tuple7.count('a')

3

In [37]:
set1 = {1,2,3}
set1a = {1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [38]:
type(set1)

set

In [40]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A.intersection(B) # A에 대한 B 교집합

{4, 5}

In [41]:
A.union(B) # A에 대한 B 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [42]:
A.difference(B) # A에 대한 B의 차집합

{1, 2, 3}

In [43]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A & B

{4, 5}

In [44]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
A - B

{1, 2, 3}

In [47]:
a =[1,2,3,4,5]
type(a)

list

In [49]:
b = tuple(a)
b

(1, 2, 3, 4, 5)

In [50]:
type(b)

tuple

In [52]:
c = set(a)
c

{1, 2, 3, 4, 5}

In [53]:
type(c)

set

In [54]:
list(b)

[1, 2, 3, 4, 5]

In [55]:
list(c)

[1, 2, 3, 4, 5]

In [59]:
country_capital ={"영국":"런던","프랑스":"파리","스위스":"베른","호주":"멜버른","덴마크":"코펜하겐"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [60]:
type(country_capital)

dict

In [62]:
country_capital["영국"]

'런던'

In [70]:
dict_data1 = {1:"버스",3:"비행기",4:"택시",5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [71]:
dict_data1[3]

'비행기'

In [72]:
dict_data2 = {1:10,2:20,3:30,4:40,5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [73]:
dict_data3 = {"list_data":{11,12,13},"list_data2":{21,22,23}}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data': {11, 12, 13}, 'list_data2': {21, 22, 23}}
{21, 22, 23}

In [77]:
mixed_dict = {1:10, 'dict_num':{1:10,2:20},"dict_list_tuple":{"A":{11,12,13},"B":{21,22,23}},"dict_string":"이것은 책입니다"}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': {11, 12, 13}, 'B': {21, 22, 23}},
 'dict_string': '이것은 책입니다'}

In [78]:
country_capital["독일"]= "베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [79]:
country_capital["호주"] = "캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [80]:
del country_capital["덴마크"]
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [81]:
fruit_code = {"사과":101,"배":102,"딸기":103,"포도":104,"바나나":105}

In [83]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [84]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [85]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [86]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [89]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [90]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [92]:
fruit_code2 = {"오렌지":106,"수박":107}

In [95]:
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [97]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict